/* 
	TMP Worldwide - Elastic Panels
	Author:  Michael "Spell" Spellacy, Lead UI Developer <michael.spellacy@tmp.com>, TMP Worldwide LLC
*/
	
@font-face {
font-family: "TitilliumText22LBold";
font-style: normal;
font-weight: normal; src: url("../fonts/TitilliumText22L005-webfont.eot"); src: url("../fonts/TitilliumText22L005-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/TitilliumText22L005-webfont.woff") format("woff"), url("../fonts/TitilliumText22L005-webfont.ttf") format("truetype"), url("fonts/TitilliumText22L005-webfont.svg#TitilliumText22LBold") format("svg");
}

@font-face {
font-family: "TitilliumText22LRegular";
font-style: normal;
font-weight: normal;
src: url("../fonts/TitilliumText22L003-webfont.eot"); src: url("../fonts/TitilliumText22L003-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/TitilliumText22L003-webfont.woff") format("woff"), url("../fonts/TitilliumText22L003-webfont.ttf") format("truetype"), url("../fonts/TitilliumText22L003-webfont.svg#TitilliumText22LRegular") format("svg");
}

@media screen, projection {

	body {
	font: normal 100%/1.5 Arial, Helvetica, Sans-Serif, Myuen;
	}
	
	h1 {
	font-family: TitilliumText22LBold;
	font-size: 1.4em;
	text-shadow: 1px 1px 0 #ccc;
	}
	
	#panels a {
	color: #fff;
	text-decoration: none;
	}

	#panels {
	background: #000;
	border: 2px #000 solid;
	box-shadow: 5px 5px 5px #c3c0bc;
	height: 612px;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	width: 612px;
	}

	#panels li {
	background-position: left top;
	background-repeat: no-repeat;
	border: 2px #000 solid;
	border-radius: 10px;
	cursor: pointer;
	opacity: 0.8;
	position: absolute;
	transition: opacity .2s ease-in;
	}

	#panels li:hover,  #panels li:focus {
	opacity: 1;
	}

	#panels .label {
	background: #336;
	border: 2px #fff solid;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	bottom: 0;
	color: #fff;
	display: block;
	font-family: TitilliumText22LRegular;
	font-size: 0.75em;
	margin: 0.8em 4%;
	opacity: 0.4; 
	padding: 0.8em 4%;
	position: absolute;
	right: 0;
	text-decoration: none;
	text-shadow: 1px 1px 0 #000;
	transition: opacity .2s ease-in;
	width: 82%; 
	}
	
	#panels .label h2 {
	margin: 0;
	padding: 0;
	}
	
	#panels .label p, #panels .label audio {
	margin: 0.8em 0 0;
	padding: 0;
	width: 100%;
	}

	#panels .label:hover, #panels .label:focus {
	opacity: 1;
	}

	.js #panels .label {
	display: none;
	}

	/* The Panels */

	#panels li#panel-a {
	background-image: url(../img/indy.jpg);
	background-position: -200px -20px; 
	height: 302px;
	left: 0;
	top: 0;
	width: 300px;
	}

	#panels li#panel-b {
	background-image: url(../img/back-to-the-future.jpg);
	background-position: -200px -50px;
	bottom: 0; 
	height: 302px;
	left: 0;
	width: 300px;
	}

	#panels li#panel-c {
	background-image: url(../img/star-wars.jpg);
	background-position: -75px -175px;
	height: 200px;
	right: 104px;
	top: 0;
	width: 200px;
	}

	#panels li#panel-d {
	background-image: url(../img/goonies.jpg);
	background-position: -125px -200px;
	bottom: 204px;
	height: 200px;
	right: 104px;
	width: 200px;
	}

	#panels li#panel-e {
	background-image: url(../img/superman.jpg);
	bottom: 0;
	height: 200px;
	right: 104px;
	width: 200px;
	}

	#panels li#panel-f {
	background-image: url(../img/harry-potter.jpg);
	background-position: -100px 0;
	height: 404px;
	right: 0;
	top: 0;
	width: 100px;
	}

	#panels li#panel-g {
	background-image: url(../img/et.jpg);
	background-position: -100px 0;
	bottom: 0;
	height: 200px;
	right: 0;
	width: 100px;
	}

}

@media screen and (max-width:480px) {

#panels .label {
	position: static;
	}

	#panels {
	height: auto;
	width: auto;
	}

	#panels li#panel-a, #panels li#panel-b, #panels li#panel-c, 
	#panels li#panel-d, #panels li#panel-e, #panels li#panel-f, 
	#panels li#panel-g {
	background-position: left -90px;
	height: 180px !important;
	position: static;
	width: auto !important;
	}

	#panels li#panel-d{
	background-position: left -120px;
	}

	.js #panels .label, #panels .label {
	display: block;
	opacity: 0.9;
	}

}